@charset "utf-8";
/* CSS Document */
html,body{ min-height:100%;}
body{ background:#f8f8f8; color:#333;}
a{ color:#333;}
a:hover,a:active,a:focus{ color:#333;}

.top_pic_box img{ width:100%;}
.top_nav_box{ background:#fff; padding:16px 0;}
.top_nav_box ul li a{ display:block;}
.top_nav_box ul li a em{ width:50px; height:50px;  text-align:center; line-height:50px; color:#fff; font-size:26px; border-radius:15px; margin:0 auto; display:block; margin-bottom:4px;}
.top_nav_box ul li a .p_tit{ text-align:center; font-size:14px;}
.top_nav_box ul li a em.bg_1{ background:#1cdcff;}
.top_nav_box ul li a em.bg_2{ background:#ff5353;}
.top_nav_box ul li a em.bg_3{ background:#fac612;}
.top_nav_box ul li a em.bg_4{ background:#a3d43d;}
.page_title_box{ overflow:hidden; font-size:14px; color:#555; padding:6px 10px; font-weight:normal;}
.page_title_box em{ display:inline-block; width:3px; height:12px; background:#f92e34; margin-right:6px;}
.page_title_box .sp_more{ overflow:hidden; float:right; margin-right:10px;}
.page_title_box .sp_more a{ font-size:13px; color:#f60;}


.center_change_box .center_change_list{ background:#fff; height:80px; padding-right:80px; position:relative; border-radius:4px; overflow:hidden; border:1px solid #eee;}
.center_change_box ul{ margin:10px 6px 0 6px;}
.center_change_box ul li{ margin-right:6px;}
.center_change_box ul li:last-child{ margin-right:0;}
.center_change_box .center_change_list .p_pic{ position:absolute; width:80px; height:80px; background-repeat:no-repeat; background-position:center center; background-size:cover; right:0; top:0;}
.center_change_box .center_change_list .p_tit,.center_change_box .center_change_list .p_txt{ margin-left:6px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.center_change_box .center_change_list .p_tit{ font-size:15px; margin-top:4px;}
.center_change_box .center_change_list .p_txt{ float:right; color:#a7a3a0; margin-top:10px; margin-right:4px; font-size:15px;}


.zksp_list_box{ overflow:hidden; margin:0px 0;}
.zksp_list_box li{ overflow:hidden;}
.zksp_list_box li a{ background:#fff; display:block; margin:0 auto; overflow:hidden; padding:10px 6px; position:relative;}
.zksp_list_box li a:after{ position:absolute; content:""; width:100%; height:1px; background:#ddd; transform:scaleY(.5); transform-origin:center bottom; left:0; bottom:0;}
.zksp_list_box li a:active{ background:#f1f1f1;}
.zksp_list_box li .shangpin_pro_nr{ overflow:hidden;}
.zksp_list_box li .shangpin_pro_nr .p_img{ overflow:hidden; width:80px; height:80px; float:left; margin-right:6px; background-position: center center; background-repeat:no-repeat; background-size:cover; border:1px solid #eee; box-sizing:border-box; border-radius:4px; overflow:hidden;}
.zksp_list_box li .shangpin_pro_nr .p_img img{width:100%;}
.zksp_list_box li .shangpin_pro_nr .p_tit{ font-size:15px; font-weight:bold; margin-top:6px;}
.zksp_list_box li .shangpin_pro_nr .p_pre em{ color:#f92e34; font-size:18px; margin-right:4px;}
.zksp_list_box li .shangpin_pro_nr .p_pre{ font-size:12px; margin:4px 0px; color:#333; overflow:hidden;}
.zksp_list_box li .shangpin_pro_nr .p_price{ font-size:14px;}
.zksp_list_box li .shangpin_pro_nr .p_pre .sp_jf {font-size:12px;}
.zksp_list_box li .shangpin_pro_nr .p_pre .sp_jf em{ color:#f60;font-size:13px; font-weight:bold;}
.zksp_list_box li .shangpin_pro_nr .p_price{ color:#666;}

