@charset 'UTF-8';
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid #333;
}
.border {
  border: 2px solid #333;
}
.box2 {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid #333;
  margin-left: 100px;
}
.test_hunhe {
  border: solid #ffff00 30px;
}
.test_hunhe_04 {
  border: #ff0000 solid 10px;
}
.radius_test {
  width: 100px;
  height: 100px;
  background-color: green;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.sanjiao {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid red;
}
.border_test {
  width: 100px;
  height: 100px;
  background-color: #333;
  margin-top: 20px;
  border-left: 5px solid #ff0000;
}
.add_less {
  width: 110px;
}
