@charset "UTF-8";
/* reset */
body,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Microsoft Yahei';
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	margin: 0;
}
img{
	display: block;
	border: none;
}
.clearfix:after{
	display: block;
	clear: both;
	content: '';
}
.clearfix{zoom:1;}




/* 顶部logo */
.title-wrap{

}
.title-wrap .title-inner{
	width: 1194px;
	margin: 0 auto;
	height: 104px;
}
.title-wrap .logo-wrap{
	width: 423px;
	height: 104px;
	float: left;
}

.title-wrap .phone-wrap{
	display: inline-block;
	width: 289px;
	height: 104px;
	float: right;
}




/* 导航 */
.nav-wrap{
	height: 63px;
	background-color: #182132;
}
.nav-wrap ul{
	width: 1194px;
	margin: 0 auto;

}
.nav-wrap li{
	float: left;
}
.nav-wrap a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	width: 149px;
	height: 63px;
	line-height: 63px;
	text-align: center;
}
.nav-wrap a:hover{
	background-color: #ea0001;
}
.nav-wrap a.active{
	background-color: #ea0001;
}


/* banner */
.banner-wrap{height: 600px;
	transition: .5s;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-wrap a{position: absolute;}
.banner-wrap .left-btn{
	left: 48px;
	top: 50%;
	margin-top: -40px;
}
.banner-wrap .right-btn{
	right: 48px;
	top: 50%;
	margin-top: -40px;
}
.banner-wrap a img{
	width: 40px;
	height: 80px;
}
.banner-wrap .circle{
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
}
.banner-wrap .circle li{
	width: 18px;
	height: 18px;
	background-color: #030104;
	border-radius: 50%;
	display: inline-block;
	margin: 0 7px;
}
.banner-wrap .circle li.active{
	background-color: #fecc13;
}



/* 中间区域 */
.center-list{
	width: 1194px;
	margin: 0 auto;
}
.center-list .title{
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color: #040203;
	margin: 70px 0 16px;
}
.center-list .text{
	text-align: center;
	font-size: 18px;
	color: #636363;
}
.center-list .center-wrap{
	padding: 55px 0;
}
.center-list .center-wrap li{
	float: left;
	width: 298px;
}
.center-list .center-wrap .img-wrap{
	text-align: center;
}
.center-list .center-wrap img{
	display: inline-block;
	width: 104px;
}
.center-list .center-wrap .text{
	font-size: 14px;
	color: #020500;
	margin-top: 26px;
}


/* 底部展示区域 */
.ad-wrap{
	background-color: #f4f4f4;
	padding: 60px 0;
}
.ad-wrap .ad-main{
	width: 1194px;
	margin: 0 auto;
}
.ad-wrap .ad-main .left-1{
	width: 130px;
	height: 318px;
	float: left;
}
.ad-wrap .ad-main .left-2{
	width: 572px;
	height: 318px;
	float: left;
	position: relative;
	margin: 0 18px;
}
.ad-wrap .ad-main .left-2 .text{
	position: absolute;
	width: 532px;
	background-color: #333;
	left: 0;
	bottom: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
	font-size: 12px;
	line-height: 26px;
	padding: 20px;
}
.ad-wrap .ad-main .left-3{
	float: left;
	margin-right: 4px;
}
.ad-wrap .ad-main .left-3 .top{
	width: 227px;
	height: 174px;
}
.ad-wrap .ad-main .left-3 .btm{
	width: 225px;
	height: 136px;
	background-color: #ffb900;
	border: 1px solid #e5ba47;
	margin-top: 6px;
}
.ad-wrap .ad-main .left-3 h3{
	font-size: 22px;
	color: #fff;
	margin: 14px;
}
.ad-wrap .ad-main .left-3 .text{
	font-size: 12px;
	line-height: 24px;
	margin: 14px;
	color: #fff;
} 
.ad-wrap .ad-main .left-4{
	float: left;
}
.ad-wrap .ad-main .left-4 .top{
	width: 223px;
	height: 162px;
	background-color: #45434e;
	overflow: hidden;
}
.ad-wrap .ad-main .left-4 h3{
	font-size: 22px;
	color: #fff;
	margin: 17px 10px;
}
.ad-wrap .ad-main .left-4 .text{
	font-size: 12px;
	line-height: 24px;
	margin: 14px;
	color: #fff;
}
.ad-wrap .ad-main .left-4 .btm{
	margin-top: 6px;
}


/* footer */
.footer-wrap{
	background-color: #182132;
}
.footer-wrap .footer{
	width: 1194px;
	margin: 0 auto;
	height: 54px;
}
.footer-wrap .footer p{
	font-size: 14px;
	line-height: 54px;
	color: #fff;
}
.footer-wrap .footer .left-text{
	float: left;
}
.footer-wrap .footer .right-text{
	float: right;
}
.space{
	margin: 0 10px;
}