@charset "utf-8";
/* CSS Document */
html, body { min-height: 100%; }
body { background: #ebebeb; color: #333; }
a { color: #333; }
a:hover, a:active, a:focus { color: #333; }
.noinfo_box { background: #f1f1f1; overflow: hidden; margin: 20px 10px; border: 1px solid #eee; text-align: center; border-radius: 50px; padding: 10px 0; color: #999; }
.noinfo_box .p_1 i { margin-right: 10px; font-size: 16px; }
/* 用户绑定拨动框架 */
.swiper-container { }
.my-pagination { }
.my-pagination .swiper-pagination-bullet { text-align: center; border-radius: 0; opacity: 1; }
.my-pagination ul { display: -webkit-box; }
.my-pagination li { display: block; background: #fff; overflow: hidden; box-flex: 1; -moz-box-flex: 1; -webkit-box-flex: 1; height: 40px; line-height: 40px; position: relative; font-size: 15px; }
.my-pagination li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 1px; content: ''; background-color: #dcdcdc; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.my-pagination .swiper-pagination-bullet-active { color: #21a4f4; }
.my-pagination .swiper-pagination-bullet-active:after { opacity: 1; background-color: #21a4f4; height: 4px; }
/* 用户绑定 */

.user_zc_body { margin: 0px auto; overflow: hidden; background: #fff; }
.user_zc_body ul { margin: 0 20px; overflow: hidden; }
.user_zc_body li { background: #fff; overflow: hidden; padding: 10px 0; position: relative; }
.user_zc_body li:last-child { margin-bottom: 0; }
.user_zc_body li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #dcdcdc; -webkit-transform: scaleY(.5); }
.user_zc_body .p_input { padding-left: 40px; position: relative; }
.user_zc_body .p_input input { width: 100%; padding: 0; margin: 0; height: 40px; color: #444; font-size: 15px; }
.user_zc_body .p_input em { position: absolute; left: 0; top: 0; z-index: 1; width: 40px; height: 40px; line-height: 40px; text-align: center; color: #6ecb09; font-size: 16px; }
.user_zc_body .p_wjmm { margin: 20px; text-align: right; }
.user_zc_body .p_input_sm { padding-right: 50px; }
.user_zc_body .p_input_sm .sp_btn { display: inline-block; position: absolute; right: 5px; top: 5px; z-index: 1; width: 40px; height: 30px; line-height: 30px; text-align: center; background: #f4f4f4; color: #666; border-radius: 4px; font-size: 12px; }
.user_zc_body .p_input_sm .sp_btn i { font-size: 24px; margin-top: 4px; line-height: 32px; }
.user_zc_body .p_input_yzm { padding-right: 90px; }
.user_zc_body .p_input_yzm .sp_btn { display: inline-block; position: absolute; right: 5px; top: 5px; z-index: 1; width: 80px; height: 30px; line-height: 30px; text-align: center; background: #288eff; color: #fff; border-radius: 4px; font-size: 12px; }
.user_zc_body .p_input_yzm .sp_btn:active { background: #2686ef; }
.user_zc_body .p_input_yzm .sp_btn_dx { right: 70px; }
.user_zc_body .p_input_yzm .sp_btn.no_hit { color: #bbb; }
.user_wj_pw { overflow: hidden; padding: 0 10px; }
.user_zc_btn { padding: 20px; overflow: hidden; background: #fff; }
.user_zc_btn .p_btn { overflow: hidden; }
.user_zc_btn .p_btn a { display: block; height: 40px; line-height: 40px; text-align: center; color: #fff; border-radius: 4px; font-size: 16px; }
.user_zc_btn .p_btn a.c_1 { background: #f15145; }
.user_zc_btn .p_btn a.c_1:active { background: #e44d41; }
.user_zc_btn .p_btn a.c_2 { background: #00cfbe; }
.user_zc_btn .p_btn a.c_2:active { background: #00c3b3; }
.user_zc_btn .p_btn a.c_3 { background: #288eff; }
.user_zc_btn .p_btn a.c_3:active { background: #2686ef; }
.user_zc_btn .p_btn a.c_4 { background: #6ecb09; }
.user_zc_btn .p_btn a.c_4:active { background: #66bc08; }
/*分享绑定 */

.bd_ok_top_box { overflow: hidden; }
.bd_ok_top_box img { width: 100%; }
.bd_ok_text_box { overflow: hidden; margin: 10px 20px; }
.bd_ok_text_box p { text-align: center; font-size: 15px; color: #666; line-height: 2em; }
.bd_ok_text_box p em { color: #f60; font-size: 18px; font-weight: bold; }
.bd_ok_btn_box { overflow: hidden; margin: 20px; }
.bd_ok_btn_box li { margin-right: 20px; }
.bd_ok_btn_box li:last-child { margin-right: 0; }
.bd_ok_btn_box .p_btn { overflow: hidden; text-align: center; color: #fff; font-size: 15px; background: #ccc; border-radius: 50px; height: 40px; line-height: 40px; padding: 0 6px; }
.bd_ok_btn_box .p_btn.b_1 { background: #22a2f9 }
.bd_ok_btn_box .p_btn.b_1:active { background: #1f97e8 }
.bd_ok_btn_box .p_btn.b_2 { background: #f74a46 }
.bd_ok_btn_box .p_btn.b_2:active { background: #e84642 }
.bd_ok_btn_box .p_btn .sp_icon { display: inline-block; padding-left: 20px; overflow: hidden; }
.bd_ok_btn_box .p_btn .icon_wx { background: url(../images/icon_wx.png) no-repeat left center; background-size: 18px 18px }
.bd_ok_btn_box .p_btn .icon_pyq { background: url(../images/icon_pyq.png) no-repeat left center; background-size: 18px 18px }
/*弹出提示 */

.show_div_bj { position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 9; background: rgba(0,0,0,0.5) }
.show_div_box { position: fixed; width: 300px; height: 160px; background: #fff; border-radius: 5px; left: 50%; top: 50%; margin-left: -150px; margin-top: -80px; z-index: 10; overflow: hidden; box-shadow: 0px 2px 4px rgba(2,2,2,0.5); }
.show_div_box .content_box { overflow: hidden; text-align: center; height: 120px; line-height: 2em; display: table; width: 100%; }
.show_div_box .content_box .content_nr { vertical-align: middle; display: table-cell; padding: 0 10px; }
.show_div_box .content_box span { font-size: 18px; color: #f60; }
.show_div_box .content_box em { color: #666; }
.show_div_box .content_btn { overflow: hidden; }
.show_div_box .content_btn .p_btn { height: 40px; line-height: 40px; background: #21a4f2; color: #fff; text-align: center; font-size: 16px; }
.show_div_box .content_btn .p_btn:active { background: #1e9ae4; }
/*充值 */

.pay_nav_box { overflow: hidden; }
.pay_nav_box li { position: relative; text-align: center; height: 40px; line-height: 40px; position: relative; font-size: 15px; background: #fff; color: #555; }
.pay_nav_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 1px; content: ''; background-color: #dcdcdc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.pay_nav_box li.on { color: #22a3f6 }
.pay_nav_box li.on:after { height: 4px; background: #22a3f6 }
.message_box { margin: 10px; overflow: hidden; }
.message_box .p_txt { color: #f60 }
.message_box .p_txt em { margin-right: 6px; }
.pay_form_box { overflow: hidden; margin: 10px; }
.pay_form_box .phone_number { overflow: hidden; }
.pay_form_box .phone_number .p_input { overflow: hidden; height: 40px; background: #eee; border-radius: 5px; padding: 0 10px; font-size: 18px; font-weight: bold; }
.pay_form_box .phone_number .p_input input { width: 100%; height: 40px; }
.pay_select_list { overflow: hidden; margin: 20px 0 }
.pay_select_list ul:first-child { margin-bottom: 10px; }
.pay_select_list li { overflow: hidden; margin-right: 6px; position: relative; height: 40px; border-radius: 3px; }
.pay_select_list ul>li:last-child { margin-right: 0; }
.pay_select_list li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; content: ''; display: block; width: 200%; height: 200%; border-radius: 6px; content: ''; border: 1px solid #ccc; box-sizing: border-box; -webkit-transform-origin: 0% 100%; -webkit-transform: scale(.5) }
.pay_select_list li:active { background: #f4f4f4; }
.pay_select_list li.on:after { border-color: #f60; }
.pay_select_list li.on_d:before { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 100%; content: ''; background-image: url(../images/icon_img_02.png); background-repeat: no-repeat; background-position: right bottom; background-size: 20px; }
.pay_select_list li.on_z:after { background-image: url(../images/icon_img_01.png); background-repeat: no-repeat; background-position: -1px -1px; background-size: 40px; }
.pay_select_list li .p_btn { position: absolute; left: 0; top: 0; z-index: 2; width: 100%; color: #333; height: 40px; line-height: 40px; text-align: center; box-sizing: border-box; }
.pay_select_list li.on .p_btn { color: #f60; font-weight: bold; }
.pay_select_list li .p_input { position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%; color: #333; border-radius: 3px; padding: 1px; box-sizing: border-box; }
.pay_select_list li .p_input input { width: 100%; height: 38px; font-size: 12px; text-align: center; background: #fff; border-radius: 3px; }
.pay_select_list li.on .p_input input { color: #f60; font-weight: bold; }
.pay_ok_box { overflow: hidden; margin: 20px 0; }
.pay_ok_box .p_txt { color: #555; font-size: 14px; }
.pay_ok_box .p_txt span { color: #f60; }
.pay_ok_box .p_txt span .em_1 { font-size: 18px; font-weight: bold; }
.pay_btn_box { margin: 20px; overflow: hidden; }
.pay_btn_box li { margin-bottom: 20px; overflow: hidden; }
.pay_btn_box li:last-child { margin-bottom: 0px; }
.pay_btn_box li .p_btn { font-size: 16px; height: 40px; line-height: 40px; text-align: center; background: #ccc; color: #fff; border-radius: 4px; }
.pay_btn_box li .p_btn.b_1 { background: #22a2f9 }
.pay_btn_box li .p_btn.b_1:active { background: #2098ea }
.pay_btn_box li .p_btn.b_2 { background: #5ac01e }
.pay_btn_box li .p_btn.b_2:active { background: #53b01c }
.pay_btn_box li .p_btn.b_3 { background: #00d8db }
.pay_btn_box li .p_btn.b_3:active { background: #01cacc }


.pay_btn_box li .p_btn.no_click { background: #bbb }
.pay_btn_box li .p_btn.no_click:active { background: #bbb }



.pay_btn_box li .p_btn span { display: inline-block; padding-left: 26px; overflow: hidden; }
.pay_btn_box li .p_btn .sp_1 { background: url(../images/icon_yi.png) no-repeat left center; background-size: 20px; }
.pay_btn_box li .p_btn .sp_2 { background: url(../images/icon_wx.png) no-repeat left center; background-size: 20px; }
.pay_btn_box li .p_btn .sp_3 { background: url(../images/icon_hf.png) no-repeat left center; background-size: 20px; }
/*流量选择项 */

.flow_option_box { position: relative; margin-top: 20px; height: 40px; padding-right: 40px; background: #eee; border-radius: 4px; }
.flow_option_box .p_btn { line-height: 40px; padding-left: 10px; font-size: 15px; color: #22a3f6 }
.flow_option_box .p_btn em { position: absolute; top: 0; right: 0; z-index: 1; height: 40px; line-height: 40px; color: #f60; font-size:12px; padding-right:6px; }
.flow_option_box .p_btn em i{ font-size: 16px; margin-left:4px; }

.flow_option_box:active { background: #ddd; }
.flow_option_list_box { overflow: hidden; position: fixed; width: 300px; left: 50%; top: 50%; margin-left: -150px; margin-top: -120px; z-index: 5; background: #fff; border-radius: 4px; box-shadow: 0px 2px 4px rgba(2,2,2,0.5) }
.flow_option_list_box li { height: 40px; line-height: 40px; padding: 0 10px; position: relative; font-size: 14px; }
.flow_option_list_box li:after { position: absolute; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 1px; background: #dcdcdc; border-radius: 6px; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.flow_option_list_box li:last-child:after { display: none; }
.flow_option_list_box li:active { background: #f4f4f4; }
.flow_option_list_box li.on { color: #22a3f6; font-weight: bold; }
.flow_option_show { position: fixed; width: 100%; height: 100%; z-index: 4; left: 0; top: 0; background: rgba(0,0,0,0.5) }
/*活动列表 */

.activity_toppic_box { overflow: hidden; }
.activity_toppic_box img { width: 100%; }
.activity_class_nav_box { overflow: hidden; }
.activity_class_nav_box li { position: relative; text-align: center; height: 40px; line-height: 40px; position: relative; font-size: 15px; background: #fff; color: #555; }
.activity_class_nav_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 1px; content: ''; background-color: #dcdcdc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.activity_class_nav_box li.on { color: #22a3f6 }
.activity_class_nav_box li.on:after { height: 4px; background: #22a3f6; }
.activity_list_box { overflow: hidden; margin: 10px; }
.activity_list_box li { overflow: hidden; position: relative; height: 100px; border-radius: 3px; margin-bottom: 10px; }
.activity_list_box li:last-child { margin-bottom: 0; }
.activity_list_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 200%; height: 200%; content: ''; border: 1px solid #ddd; border-radius: 6px; box-sizing: border-box; -webkit-transform-origin: 0% 100%; -webkit-transform: scale(.5) }
.activity_list_box li:active { background: #f4f4f4; }
.activity_list_box .content_box { overflow: hidden; padding: 10px; position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; width: 100%; height: 100%; box-sizing: border-box; }
.activity_list_box .content_box .p_img { overflow: hidden; width: 80px; height: 80px; float: left; border-radius: 4px; margin-right: 6px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.activity_list_box .content_box .p_tit { font-size: 15px; font-weight: bold; color: #555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.activity_list_box .content_box .p_tit_f { font-size: 13px; color: #888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.activity_list_box .content_box .p_time { font-size: 11px; color: #aaa; }
.activity_list_box .content_box .p_time em { font-size: 14px; }
.activity_list_box .content_box .p_time em.c_1 { color: #f60; }
.activity_list_box .content_box .p_time em.c_2 { color: #00b0e3; }
.activity_list_box .content_box .p_tit, .activity_list_box .content_box .p_tit_f, .activity_list_box .content_box .p_time { line-height: 2em; }
/*活动-问卷调查 */

.activity_info_box { overflow: hidden; background: #fff; padding: 10px; }
.activity_info_box .h3_tit { font-size: 16px; color: #555; margin-bottom: 10px; }
.activity_info_box .p_time { font-size: 12px; color: #999; }
.activity_info_box .p_time em { font-size: 14px; color: #54afe4; }
.activity_info_box .p_line { border-bottom: 1px dashed #aaa; margin: 10px 0; -webkit-transform: scaleY(.5) }
.activity_info_box .info_box { overflow: hidden; line-height: 1.5em; font-size: 15px; }
.activity_info_box .info_box img { max-width: 100%; }
.questionnaire_content_box { overflow: hidden; background: #fff; margin-top: 20px; }
.questionnaire_content_box li { position: relative; }
.questionnaire_content_box li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.questionnaire_content_box li:last-child:after { display:;
}
.questionnaire_content_box .nr_box { overflow: hidden; margin: 10px; }
.questionnaire_content_box .nr_box .h3_tit { overflow: hidden; font-size: 14px; margin-bottom: 10px; }
.questionnaire_content_box .nr_box dd { position: relative; overflow: hidden; margin-top: 10px; padding-bottom: 10px; padding-left: 30px; }
.questionnaire_content_box .nr_box dd:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ddd; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.questionnaire_content_box .nr_box dd:last-child:after { display: none; }
.questionnaire_content_box .nr_box dd .p_input { position: absolute; left: 0; top: 0; z-index: 1; }
.checkbox input[type=checkbox] { vertical-align: top; border: 1px solid #ddd; border-radius: 3px; width: 20px; height: 20px; background: #fff; }
.checkbox input[type=checkbox]:checked::after { content: ''; display: block; position: relative; top: 1px; left: 1px; width: 16px; height: 16px; background: url(../images/icon_01_6_2.png) no-repeat center center; background-size: contain; border-radius: 3px; }
.checkbox input[type=radio] { vertical-align: top; border: 1px solid #ddd; border-radius: 50px; width: 20px; height: 20px; background: #fff; }
.checkbox input[type=radio]:checked::after { content: ''; display: block; position: relative; top: 1px; left: 1px; width: 16px; height: 16px; background: url(../images/icon_01_6_3.png) no-repeat center center; background-size: contain; border-radius: 50px; }
.questionnaire_content_box .nr_box dd .p_s_tit { line-height: 20px; }
.questionnaire_content_box .nr_box dd .p_pic { margin-top: 6px; overflow: hidden; }
.questionnaire_content_box .nr_box dd .p_pic img { max-width: 100%; }
/*活动-底部按钮 */

.activity_button_box { padding: 20px; padding-top: 10px; overflow: hidden; background: #fff; }
.activity_button_box li { margin-bottom: 20px; }
.activity_button_box li:last-child { margin-bottom: 0; }
.activity_button_box .p_btn { font-size: 16px; height: 40px; line-height: 40px; text-align: center; background: #ccc; color: #fff; border-radius: 4px; }
.activity_button_box .p_btn.b_1 { background: #22a2f9 }
.activity_button_box .p_btn.b_1:active { background: #2098ea }
.activity_button_box .p_btn.b_2 { background: #5ac01e }
.activity_button_box .p_btn.b_2:active { background: #53b01c }
/*活动-投票 */

.vote_content_box { overflow: hidden; background: #fff; margin-top: 20px; }
.vote_content_box li { position: relative; padding: 0 10px; }
.vote_content_box li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.vote_content_box li:last-child:after { display:;
}
.vote_content_box .nr_box { overflow: hidden; padding-left: 30px; margin-top: 10px; padding-bottom: 10px; position: relative; }
.vote_content_box .nr_box .h3_tit { overflow: hidden; font-size: 14px; line-height: 20px; }
.vote_content_box .nr_box .p_input { position: absolute; left: 0; top: 0; z-index: 1; }
.vote_content_box .nr_box .p_pic { margin-top: 6px; overflow: hidden; }
.vote_content_box .nr_box .p_pic img { max-width: 100%; }
/*活动-查看投票 */




.vote_user_box { overflow: hidden; font-size: 15px; padding: 10px 20px; padding-top: 20px; position: relative; }
.vote_user_box em { color: #f60; font-weight: bold; }
.vote_user_box:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.vote_result_box { overflow: hidden; padding: 20px; position: relative; margin-bottom: 10px; }
.vote_result_box:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.vote_result_box li { overflow: hidden; position: relative; margin-bottom: 20px; }
.vote_result_box li:last-child { margin-bottom: 0; }
.vote_result_box .info_box { overflow: hidden; margin-bottom: 6px; }
.vote_result_box .info_box .p_img { width: 40px; height: 40px; border-radius: 4px; overflow: hidden; float: right; margin-left: 10px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.vote_result_box .info_box .p_tit { font-weight: bold; font-size: 15px; color: #555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 6px; }
.vote_result_box .info_box .p_number { font-size: 12px; color: #999; }
.vote_result_box .info_box .p_number em { font-size: 14px; }
.vote_result_box .info_box .p_number .em_1 { color: #f60; }
.vote_result_box .info_box .p_number .em_2 { color: #007fe1; }
.vote_result_box .histogram_box { overflow: hidden; height: 10px; background: #ccc; border-radius: 10px; }
.vote_result_box .histogram_box .p_line_box { height: 10px; overflow: hidden; }
.vote_result_box .histogram_box .sp_color { width: 0%; height: 10px; display: inline-block; vertical-align: top; }
.vote_result_box .histogram_box .sp_color.show_dh { -webkit-animation: show_dh 1.5s ease-out 0.5s forwards; }
@-webkit-keyframes show_dh {
0% {
width:0%;
}
100% {
width:100%;
}
}
.vote_result_box .histogram_box .sp_color.b_1 { background: #007fe1 }
.vote_result_box .histogram_box .sp_color.b_2 { background: #46c500 }
.vote_result_box .histogram_box .sp_color.b_3 { background: #efca00 }
.vote_result_box .histogram_box .sp_color.b_4 { background: #00c5b9 }
/*活动-报名 */

.apply_content_box { position: relative; overflow: hidden; background: #fff; padding: 10px; margin-top: 20px; }
.apply_content_box:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.apply_content_box li { overflow: hidden; position: relative; margin-bottom: 6px; padding-bottom: 6px; }
.apply_content_box li:last-child { margin-bottom: 0; }
.apply_content_box li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ddd; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.apply_content_box li:last-child:after { display: none; }
.apply_content_box li .p_input { position: relative; height: 40px; padding-left: 40px; }
.apply_content_box li .p_input input { height: 40px; width: 100%; font-weight: bold; color: #555; font-size: 16px; }
.apply_content_box li .p_input input::-webkit-input-placeholder {
font-weight:normal;
font-size:13px;
}
.apply_content_box li .p_input em { display: inline-block; position: absolute; left: 0; top: 50%; margin-top: -9px; z-index: 1; width: 30px; line-height: 100%; text-align: center; font-size: 18px; color: #0CF }
/*附近营业厅 */

.lobby_toppic_box { overflow: hidden; background: #fff; }
.lobby_toppic_box img { width: 100%; }
.lobby_toppic_box .swiper-slide { min-height: 120px; }
.lobby_toppic_box .swiper-pagination { bottom: 5px; line-height: 100%; }
.lobby_toppic_box .swiper-pagination .swiper-pagination-bullet { margin: 0 3px; line-height: 100%; overflow: hidden; }
.lobby_toppic_box .swiper-pagination .swiper-pagination-bullet:after { display: block; content: "."; color: rgba(0,0,0,0) }
.lobby_info_box { overflow: hidden; background: #fff; }
.lobby_info_box .h3_tit { font-size: 16px; font-weight: bold; color: #555; position: relative; padding: 0 10px; height: 40px; line-height: 40px; }
.lobby_info_box .h3_tit:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ccc; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.lobby_info_box .dzdh_box { overflow: hidden; margin: 0 10px }
.lobby_info_box .dzdh_box li { position: relative; overflow: hidden; padding: 10px 26px; }
.lobby_info_box .dzdh_box li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #eee; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.lobby_info_box .dzdh_box li:last-child:after { display: none; }
.lobby_info_box .dzdh_box li:active { background: #f4f4f4; }
.lobby_info_box .dzdh_box li .p_txt { font-size: 15px; padding: 10px 0; }
.lobby_info_box .dzdh_box li .em_tb { display: inline-block; position: absolute; left: 0; top: 50%; line-height: 100%; margin-top: -9px; font-size: 18px; }
.lobby_info_box .dzdh_box li .em_tb.c_1 { color: #3fc300; }
.lobby_info_box .dzdh_box li .em_tb.c_2 { color: #00ade7; }
.lobby_info_box .dzdh_box li .em_ico { display: inline-block; position: absolute; right: 0; top: 50%; line-height: 100%; margin-top: -9px; font-size: 18px; color: #999; }
/*附近营业厅商品列表 */
.product_list_box { overflow: hidden; background: #fff; margin-top: 20px; padding: 10px 0; }
.product_list_box li { overflow: hidden; position: relative; margin: 0 10px; padding: 10px 0; }
.product_list_box li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #eee; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.product_list_box li:last-child:after { display: none; }
.product_list_box li:active { background: #f4f4f4; }
.product_list_box li .shangpin_pro_nr { overflow: hidden; }
.product_list_box li .shangpin_pro_nr .p_img { overflow: hidden; width: 80px; height: 80px; float: left; border-radius: 4px; margin-right: 10px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.product_list_box li .shangpin_pro_nr .p_tit { font-size: 15px; color: #444; line-height: 2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.product_list_box li .shangpin_pro_nr .p_tit_f { font-size: 13px; color: #777; line-height: 2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.product_list_box li .shangpin_pro_nr .p_pre { font-size: 13px; color: #999; line-height: 2em; }
.product_list_box li .shangpin_pro_nr .p_pre em { color: #f60; font-size: 16px; font-weight: bold; }
/*附近营业厅商品详情 */


.product_toppic_box { overflow: hidden; background: #fff; }
.product_toppic_box img { width: 100%; }
.product_info_box { background: #fff; padding: 10px; }
.product_info_box .h3_tit { font-size: 16px; color: #555; }
.product_info_box .p_tit_f { font-size: 14px; color: #777; margin-top: 6px; margin-bottom: 10px; }
.product_info_box .pre_info_box { overflow: hidden; position: relative; padding-top: 10px; }
.product_info_box .pre_info_box:after { content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 1px; background: #ddd; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.product_info_box .pre_info_box .p_pre { color: #666; line-height: 40px; }
.product_info_box .pre_info_box .p_pre em { font-size: 18px; color: #f60; font-weight: bold; }
.product_info_box .pre_info_box .li_btn { width: 100px; }
.product_info_box .pre_info_box .p_btn { position: relative; text-align: center; height: 40px; line-height: 40px; overflow: hidden; border-radius: 3px; color: #f60; font-size: 15px; }
.product_info_box .pre_info_box .p_btn:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 200%; height: 200%; content: ''; border: 1px solid #f16000; border-radius: 6px; box-sizing: border-box; -webkit-transform-origin: 0% 100%; -webkit-transform: scale(.5) }
.product_info_box .pre_info_box .p_btn:active { background: #f60; color: #fff; }
.product_xq_tit { padding: 10px; line-height: 100%; padding-bottom: 4px; overflow: hidden; color: #999; }
.product_xq_box { overflow: hidden; line-height: 1.5em; font-size: 15px; background: #fff; padding: 10px; }
.product_xq_box img { max-width: 100%; }
/*个人中心*/


.remaining_box { overflow: hidden; background: #fff; }
.remaining_box li { overflow: hidden; text-align: center; position: relative; padding: 30px 0; }
.remaining_box li:after { content: ""; display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 1px; height: 100%; background: #ddd; -webkit-transform-origin: 50% 50%; -webkit-transform: scale(.5); }
.remaining_box li .p_tit { font-size: 14px; color: #999; }
.remaining_box li .h3_number { font-size: 15px; color: #555; margin-top: 6px; }
.remaining_box li .h3_number.c_1 { color: #00a3ef }
.remaining_box li .h3_number.c_2 { color: #6ecb09 }
.remaining_box li .h3_number.c_3 { color: #09cbc0 }
.user_center_menu { overflow: hidden; background: #fff; }
.user_center_menu ul { position: relative; overflow: hidden; }
.user_center_menu ul:first-child:after { content: ""; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 1px; background: #ddd; -webkit-transform-origin: 50% 0%; -webkit-transform: scaleY(.5); }
.user_center_menu li { text-align: center; height: 90px; position: relative; overflow: hidden; }
.user_center_menu li:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; z-index: 1; width: 100%; height: 1px; background: #ddd; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5); }
.user_center_menu li:before { content: ""; display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 1px; height: 100%; background: #ddd; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleX(.5); }
.user_center_menu ul li:last-child:before { display: none; }
.user_center_menu li:active { background: #f4f4f4; }
.user_center_menu .p_icon { width: 30px; height: 30px; overflow: hidden; margin: 0 auto; margin-top: 20px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.user_center_menu .p_text { color: #555; margin-top: 6px; line-height: 100%; }
.user_center_info { overflow: hidden; height: 140px; background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url(../images/img_bj_02.jpg); }
.user_center_info .info_box { overflow: hidden; margin: 0 20px; margin-top: 40px; }
.user_center_info .info_box .p_tx { width: 60px; height: 60px; border-radius: 50px; border: 2px solid rgba(255,255,255,0.8); box-sizing: border-box; overflow: hidden; float: left; margin-right: 10px; background: #ccc; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.user_center_info .info_box .p_name { font-size: 15px; color: #fff; margin-top: 8px; }
.user_center_info .info_box .p_phone { font-size: 16px; color: #fff; font-weight: bold; margin-top: 6px; }
.service_btn { overflow: hidden; margin: 20px; }
.service_btn .p_btn { overflow: hidden; height: 40px; line-height: 40px; text-align: center; color: #fff; border-radius: 4px; background: #6ecb09; font-size: 15px; }
.service_btn .p_btn em { margin-right: 6px; }
.service_btn .p_btn:active { background: #67be09; }
/*我参与的活动*/


.userecnter_topimg_box { overflow: hidden; }
.userecnter_topimg_box img { width: 100%; }
.my_activity_box { overflow: hidden; padding: 10px; background: #fff; }
.my_activity_box li { overflow: hidden; position: relative; }
.my_activity_box li:last-child { margin-bottom: 0; }
.my_activity_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 100%; height: 1px; background: #ddd; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.my_activity_box li:last-child:after { display: none; }
.my_activity_box li:active { background: #f4f4f4; }
.my_activity_box .content_box { overflow: hidden; padding: 10px 0; box-sizing: border-box; }
.my_activity_box .content_box .p_img { overflow: hidden; width: 80px; height: 80px; float: left; border-radius: 4px; margin-right: 6px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.my_activity_box .content_box .p_tit { font-size: 15px; font-weight: bold; color: #555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_activity_box .content_box .p_tit_f { color: #888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_activity_box .content_box .p_time { font-size: 12px; color: #aaa; }
.my_activity_box .content_box .p_tit, .my_activity_box .content_box .p_tit_f, .my_activity_box .content_box .p_time { line-height: 2em; }
/*我的奖励*/

.my_award_info { overflow: hidden; background: #fff; }
.my_award_info .p_txt { overflow: hidden; text-align:left; color: #555; padding:15px 10px; line-height:2em;}
.my_award_info .p_txt .em_1 { font-size: 16px; font-weight: bold; color: #f60; }
.my_award_info .p_txt .em_2 { font-size: 16px; font-weight: bold; color: #00b4ec; }


.my_award_box { overflow: hidden; margin-top: 10px; background: #fff; }
.my_award_box li { overflow: hidden; position: relative; }
.my_award_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 100%; height: 1px; background: #ddd; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.my_award_box li:last-child:after { display: none; }
.my_award_box li:active { background: #f4f4f4; }
.my_award_box .content_box { overflow: hidden; padding: 20px 10px; }
.my_award_box .content_box .dd_jl { width: 100px; }
.my_award_box .content_box .p_tit { font-size: 15px; font-weight: bold; color: #555; }
.my_award_box .content_box .p_time { margin-top: 6px; color: #999; }
.my_award_box .content_box .p_jl { color: #00b4ec; font-size: 14px; }
/*我的预约*/

.my_order_box { overflow: hidden; padding: 10px; background: #fff; }
.my_order_box li { overflow: hidden; position: relative; }
.my_order_box li:last-child { margin-bottom: 0; }
.my_order_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 100%; height: 1px; background: #ddd; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.my_order_box li:last-child:after { display: none; }
.my_order_box li:active { background: #f4f4f4; }
.my_order_box .content_box { overflow: hidden; padding: 15px 0; box-sizing: border-box; padding-right: 40px; position: relative; }
.my_order_box .content_box .p_img { overflow: hidden; width: 80px; height: 80px; float: left; border-radius: 4px; margin-right: 6px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.my_order_box .content_box .p_tit { font-size: 15px; font-weight: bold; color: #555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_order_box .content_box .p_tit_f { color: #888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_order_box .content_box .p_pre { font-size: 12px; color: #aaa; }
.my_order_box .content_box .p_pre em { font-size: 16px; color: #f60; font-weight: bold; }
.my_order_box .content_box .p_tit, .my_order_box .content_box .p_tit_f, .my_order_box .content_box .p_pre { line-height: 2em; }
.my_order_box .content_box .p_yyt { width: 30px; height: 30px; overflow: hidden; position: absolute; top: 16px; right: 0; z-index: 1; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.my_order_box .content_box .p_yyt a { display: block; height: 30px; }
/*我的邀请*/

.invite_info_box { overflow: hidden; background: #fff; }
.invite_info_box li { overflow: hidden; text-align: center; position: relative; padding: 20px 0; }
.invite_info_box li:after { content: ""; display: block; position: absolute; right: 0; top: 0; z-index: 1; width: 1px; height: 100%; background: #ddd; -webkit-transform-origin: 50% 50%; -webkit-transform: scale(.5); }
.invite_info_box li .p_tit { font-size: 14px; color: #999; }
.invite_info_box li .h3_number { font-size: 16px; color: #555; margin-top: 6px; }
.invite_info_box li .h3_number.c_1 { color: #13d982; }
.invite_info_box li .h3_number.c_2 { color: #1791dd; }
.my_invite_box_tit { height: 30px; line-height: 30px; color: #999; margin: 0 10px; margin-top: 6px; }
.my_invite_box { overflow: hidden; padding: 10px; background: #fff; }
.my_invite_box li { overflow: hidden; position: relative; }
.my_invite_box li:last-child { margin-bottom: 0; }
.my_invite_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 100%; height: 1px; background: #ddd; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.my_invite_box li:last-child:after { display: none; }
.my_invite_box li:active { background: #f4f4f4; }
.my_invite_box li .content_box { overflow: hidden; padding: 16px 0; }
.my_invite_box li .content_box .dd_tx { width: 50px; }
.my_invite_box li .content_box .dd_tx .p_img { width: 40px; height: 40px; border-radius: 50px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.my_invite_box li .content_box .p_name { font-size: 15px; color: #555; line-height: 40px; }
.my_invite_box li .content_box .dd_time { width: 120px; }
.my_invite_box li .content_box .dd_time .p_time { color: #999; line-height: 40px; }
.my_invite_id_box { overflow: hidden; position: relative; padding-bottom: 30%; background: #fff; }
.my_invite_id_box .gg_pic_box { overflow: hidden; }
.my_invite_id_box .gg_pic_box img { width: 100%; }
.my_invite_id_box .info_box { position: absolute; width: 100%; height: 22%; left: 0; bottom: 0; z-index: 2; background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url(../images/yq_img_bj.png); }
.my_invite_id_box .info_box .ul_info_nr { margin: 10px; margin-top: 12%; overflow: hidden; }
.my_invite_id_box .info_box .li_name { overflow: hidden; width: 80px; margin-right: 10px; }
.my_invite_id_box .info_box .li_name .name_box { overflow: hidden; width: 80px; height: 80px; background: #fff; border-radius: 4px; }
.my_invite_id_box .info_box .li_name .name_box .p_tx { width: 50px; height: 50px; border-radius: 4px; margin: 0 auto; margin-top: 6px; }
.my_invite_id_box .info_box .li_name .name_box .p_tx img { width: 100%; }
.my_invite_id_box .info_box .li_name .name_box .p_txt { text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.my_invite_id_box .info_box .li_ewm { overflow: hidden; width: 80px; margin-right: 10px; }
.my_invite_id_box .info_box .li_ewm .ewm_box { overflow: hidden; width: 80px; height: 80px; background: #fff; border-radius: 4px; }
.my_invite_id_box .info_box .li_ewm .ewm_box .p_ewm { width: 70px; height: 70px; overflow: hidden; margin: 5px; }
.my_invite_id_box .info_box .li_ewm .ewm_box .p_ewm img { width: 100%; }
.my_invite_id_box .info_box .p_ts { color: #fff; font-size: 12px; }
/*提醒设置*/

.warn_set_box { overflow: hidden; padding: 10px; background: #fff; }
.warn_set_box li { overflow: hidden; position: relative; }
.warn_set_box li:last-child { margin-bottom: 0; }
.warn_set_box li:after { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 0; display: block; width: 100%; height: 1px; background: #ddd; content: ''; box-sizing: border-box; -webkit-transform-origin: 50% 100%; -webkit-transform: scaleY(.5) }
.warn_set_box li:last-child:after { display: none; }
.warn_set_box .dl_info { padding: 20px 0; overflow: hidden; }
.warn_set_box .dl_info .dd_tit { font-size: 15px; color: #555; line-height: 22px; }
.warn_set_box .dl_info .dd_menu { width: 60px; }
.warn_set_box .dl_info .dd_menu .p_btn { width: 60px; height: 24px; border-radius: 30px; background: #ccc; position: relative; -webkit-transition: all 1.0s; }
.warn_set_box .dl_info .dd_menu .p_btn em { width: 22px; height: 22px; border-radius: 30px; background: #fff; position: absolute; left: 1px; top: 1px; z-index: 1; -webkit-transition: all 0.5s; }
.warn_set_box .dl_info .dd_menu .p_btn.on { background: #5ac01e; -webkit-transition: all 1.0s; }
.warn_set_box .dl_info .dd_menu .p_btn.on em { left: 37px; webkit-transition: all 0.5s; }
/*我的账单*/

.bill_info_box { overflow: hidden; padding: 20px; background: #fff; }
.bill_info_box .h3_phone { font-size: 18px; color: #555; }
.bill_info_box .p_time { color: #999; margin-top: 10px; }
.bill_info_line { height: 2px; background: #43c120; overflow: hidden; }
.bill_info_line em { display: inline-block; width: 30%; height: 2px; vertical-align: top; background: #0092f4; overflow: hidden; }
.my_bill_zs { overflow: hidden; width: 140px; height: 140px; border: 5px solid #eee; border-radius: 140px; box-sizing: border-box; margin: 20px auto; background: #4bc021; }
.my_bill_zs p { text-align: center; color: #fff; }
.my_bill_zs .p_1 { font-size: 12px; margin-top: 44px; }
.my_bill_zs .p_2 { font-weight: bold; font-size: 16px; margin-top: 6px; }
.my_bill { height: 260px; padding: 30px 0; box-sizing: border-box; }
.my_bill_bottom_line { width: 100%; height: 5px; position: absolute; left: 0; bottom: 25px; z-index: 2; background: #61c2ff; }
.my_bill .swiper-slide { position: relative; }
.my_bill .swiper-slide .bill_date { font-size: 15px; text-align: center; position: relative; bottom: -10px; }
.my_bill .swiper-slide .bill_number { font-size: 14px; color: #f60; font-weight: bold; text-align: center; position: relative; top: -25px; }
.my_bill .swiper-slide .graph_box { position: relative; left: 50%; margin-left: -3px; height: 100%; bottom: 0; width: 6px; background:#;
}
.my_bill .swiper-slide .graph_box .p_line { position: absolute; left: 0; bottom: 0; z-index: 1; background:#;
width: 100%; }
.my_bill .swiper-slide .graph_box .p_line span { position: absolute; top: auto; right: auto; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: 0%; background: #61c2ff; box-sizing: border-box; -webkit-animation: show_bill 1.5s ease-out 0.5s forwards; }
@-webkit-keyframes show_bill {
0% {
height:0%;
}
100% {
height:100%;
}
}
.my_bill .swiper-slide .graph_box .p_line em { opacity: 0; position: relative; top: -25px; left: -50%; margin-left: -250%; text-align: center; font-size: 15px; color: #f60; font-weight: bold; -webkit-animation: show_bill_2 0.5s ease-out 2s forwards; }
.my_bill .swiper-slide .graph_box .p_line b { opacity: 0; overflow: hidden; display: block; width: 6px; height: 6px; border: 5px solid #61c2ff; position: relative; top: -22px; left: -5px; z-index: 1; background: #fff; border-radius: 50px; -webkit-animation: show_bill_2 0.1s ease-out 1.7s forwards; }
.my_bill .swiper-slide .graph_box .p_line b:after { content: '.'; color: rgba(0,0,0,0) }
 @-webkit-keyframes show_bill_2 {
0% {
opacity:0;
}
100% {
opacity:1;
}
}
/*当前话费*/

.my_huafei_info { overflow: hidden; margin: 0 20px; margin-top: 20px; }
.my_huafei_info .p_name { font-size: 15px; color: #fff; margin-top: 8px; }
.my_huafei_info .p_phone { font-size: 16px; color: #fff; font-weight: bold; margin-top: 6px; }
.my_huafei_info .p_time { color: #fff; margin-top: 10px; }
.my_huafei_menu { overflow: hidden; margin: 20px; }
.my_huafei_menu li { margin-right: 20px;  margin-bottom: 20px; }
.my_huafei_menu li:last-child { margin-right: 0; }
.my_huafei_menu .p_btn { letter-spacing: 3px; text-align: center; font-size: 15px; height: 100px; box-sizing: border-box; padding-top: 30px; color: #fff; background-position: center center; background-repeat: no-repeat; background-size: contain; }
.my_huafei_menu .p_btn.b_1 { background-image: url(../images/icon_03.png); }
.my_huafei_menu .p_btn.b_2 { background-image: url(../images/icon_04.png); }
.my_huafei_menu .p_btn.b_3 { background-image: url(../images/icon_05.png); }
.my_huafei_menu .p_btn.b_4 { background-image: url(../images/icon_06.png); }
.my_huafei_menu .p_btn:active { opacity: .8; }


/*余量查询*/

.surplus_list_box{ overflow:hidden; padding:10px 0; background:#fff;}
.surplus_list_box li{ overflow:hidden; position:relative;}
.surplus_list_box li:last-child{ margin-bottom:0;}
.surplus_list_box li:after{position: absolute;top: auto;right: auto;bottom: 0; left: 0; z-index:0; display: block; width: 100%;height: 1px; background:#ddd; content:'';  box-sizing:border-box;  -webkit-transform-origin: 50% 100%;-webkit-transform: scaleY(.5)}
.surplus_list_box li:last-child:after{ display:none;}


.surplus_list_box .content_box{ overflow:hidden; margin:10px;}
.surplus_list_box .content_box .info_box{ overflow:hidden; margin-bottom:10px;}
.surplus_list_box .content_box .info_box .h3_tit{ font-size:16px; color:#555; float:left;}
.surplus_list_box .content_box .info_box .h3_tit span{ font-size:13px; color:#888; margin-left:10px;}
.surplus_list_box .content_box .info_box .p_txt{ float:right; color:#999; font-size:12px;}
.surplus_list_box .content_box .info_box .p_txt em{ font-size:13px;}
.surplus_list_box .content_box .info_box .p_txt em.c_1{ color:#f66;}
.surplus_list_box .content_box .info_box .p_txt em.c_2{ color:#46c500;}


.surplus_list_box .histogram_box{ overflow:hidden; height:10px; background:#ccc; border-radius:10px;}
.surplus_list_box .histogram_box .p_line_box{ height:10px; overflow:hidden;}
.surplus_list_box .histogram_box .sp_color{ width:0%; height:10px; display:inline-block; vertical-align:top;}


.surplus_list_box .histogram_box .sp_color.show_dh{ -webkit-animation:show_dh  1.5s ease-out 0.5s forwards; }
@-webkit-keyframes show_dh{	0%{width:0%;}	100%{width:100%;} }


.surplus_list_box .histogram_box .sp_color.b_1{background: -webkit-gradient(linear, 0 0, 100% 100%, from(#ffe153), to(#7bee00));}
.surplus_list_box .histogram_box .sp_color.b_2{background: -webkit-gradient(linear, 0 0, 100% 100%, from(#46f3ce), to(#55c7ff));}
.surplus_list_box .histogram_box .sp_color.b_3{background: -webkit-gradient(linear, 0 0, 100% 100%, from(#ff76ce), to(#ff2b6d));}
.surplus_list_box .histogram_box .sp_color.b_4{background: -webkit-gradient(linear, 0 0, 100% 100%, from(#2bc6ff), to(#7aff90));}


.surplus_list_box .content_box .info_xq_box{ overflow:hidden; margin-top:10px; padding-bottom:10px; position:relative;}
.surplus_list_box .content_box .info_xq_box:after{position: absolute;top: auto;right: auto;bottom: 0; left: 0; z-index:0; display: block; width: 100%;height: 1px; border-bottom:1px dashed #aaa; content:'';  box-sizing:border-box;  -webkit-transform-origin: 50% 100%;-webkit-transform: scaleY(.5)}
.surplus_list_box .content_box .info_xq_box dd{ overflow:hidden; position:relative; margin-bottom:10px;}
.surplus_list_box .content_box .info_xq_box dd:last-child{margin-bottom:0;}

.surplus_list_box .content_box .info_xq_box dd h3{ color:#666;}
.surplus_list_box .content_box .info_xq_box dd p{ color:#888;}


.surplus_list_box .content_box .info_xq_box dd .p_jdt_line{  overflow:hidden; height:4px; background:#ddd; border-radius:10px; margin-top:4px; }
.surplus_list_box .content_box .info_xq_box dd .p_jdt_line .sp_bj{ display:inline-block;height:4px; overflow:hidden; vertical-align:top; }
.surplus_list_box .content_box .info_xq_box dd .p_jdt_line .sp_bj .em_show{ width:0%; height:4px; display:inline-block; vertical-align:top; background-color:#86d6ff}
.surplus_list_box .content_box .info_xq_box dd .p_jdt_line .sp_bj .em_show.go{ -webkit-animation:jdt_go 1.5s ease-out 0.5s forwards; }
@-webkit-keyframes jdt_go{	0%{width:0%;}	100%{width:100%;} }





.surplus_list_box .content_box .p_more_info{ overflow:hidden; margin-top:10px; text-align:center; color:#999; font-size:12px;}
.surplus_list_box .content_box .p_more_info em{ font-size:18px; margin-left:6px;}






