<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<title>ajax增删改查</title>
<link rel="stylesheet" type="text/css" href="../mint-ui/style.css">
<style type="text/css">
a{margin-left: 10px;}
ul,li{margin: 0;padding: 0;}

</style>

</head>

<body>



<div id="app">
	<h3>ajax增删改查</h3>
	<input type="text" placeholder="id" v-model="searchValue" v-on:keyup.enter="search">
	<a href="javascript:;" v-on:click="search">查找</a><br>
	<input type="text" placeholder="车辆类型" v-model="addValue" v-on:keyup.enter="add">
	<a href="javascript:;" v-on:click="add">增加</a>
	<ul style="margin-top: 10px;">
		<li v-for="(item,index) in items">{{index+1}}-{{item.name}}<a href="javascript:;" v-on:click="edit(index)">修改</a><a href="javascript:;" v-on:click="del(index)">删除</a></li>
	</ul>
	
</div>



</body>


<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript" src="../mint-ui/index.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>

<script>
var vm = new Vue({
	el: "#app",
	data:{
		items:[],
		searchValue:'',
		addValue:'',
		selectValue:''
	},
	methods:{
		getMsg:function(){
			axios.get('http://192.168.0.106/sysmanager/jiqi/GetJiqiList?currentpage=1&pagesize=100').then(function (response) {
			    console.log(response);
			    response.data.Data.forEach(function(a){
			    	this.items.push(a);
			    }.bind(this));
			    console.log(this.items);
			  }.bind(this)).catch(function (error) {
			    console.log(error);
			  }.bind(this));
		},

		// 删
		del:function(i){
			var info=confirm('确定删除 '+this.items[i].name+' ？');
			if (info) {
				axios.post('http://192.168.0.106/sysmanager/jiqi/DeleteJiqi?id='+this.items[i].Id+'').then(function(response){
					this.items.splice(i, 1);
					console.log(this.items);
				}.bind(this));
			}
		},
		// 增
		add:function(){
			if (this.addValue=='') {
				alert('不能为空');
			} else {
				axios.get('http://192.168.0.106/sysmanager/jiqi/CreateJiqi?state=0&name='+this.addValue+'').then(function(response){
					this.items.push({name:this.addValue});
					console.log(this.items);
					this.addValue='';
				}.bind(this));
			}
		},
		// 改
		edit:function(i){
			var info=prompt('输入要修改的内容');
			if (info) {
				axios.get('http://192.168.0.106/sysmanager/jiqi/UpdateJiqi?id='+this.items[i].Id+'&name='+info+'&state=0').then(function(response){
					this.items[i].name=info;
					console.log(this.items);
				}.bind(this));
			}
			
		},
		// 查
		search:function(){
			if (this.searchValue=='') {
				alert('不能为空');
			} else {
				axios.get('http://192.168.0.106/sysmanager/jiqi/GetJiqiById?id='+this.searchValue+'').then(function(response){
					if (response.data.Code==0) {
						alert(response.data.Data.name);
					}
					if (response.data.Code==1) {
						alert(response.data.Message);
					}
				this.searchValue='';
				}.bind(this));
			}
		},
		submitBtn:function(){
			console.log(this.selectValue);
		}
		
	},
	mounted:function(){
		this.getMsg();
	}

	
});




</script>
	
</html>
