@charset "UTF-8";


body{background-color: #f6fbfa;}

/* header */
.header{height: 80px;background-color: #fff;box-shadow: 0 1px 10px rgba(0,0,0,.1);position: relative;}
.header .header-inner{height: 80px;width: 1200px;margin: 0 auto;}
.header .logo{display: inline-block;width: 174px;height: 38px;margin-top: 21px;}
.header .nav-list ul{height: 80px;line-height: 80px;}
.header .nav-list li{float: left;margin-left: 40px;}
.header .nav-list li a{color: #2d2d2d;font-size: 14px;}
.header .nav-list li a.active{color: #00c1de;}
.header .nav-list li a:hover{color: #00c1de;}


/* footer */
.footer{height: 150px;background-color: #3c4252;}
.footer .footer-inner{width: 1200px;margin: 0 auto;height: 150px;}
.footer .footer-inner .logo{display: inline-block;width: 174px;height: 38px;margin-top: 56px;margin-right: 156px;}
.footer .footer-text{font-size: 16px;}
.footer .footer-text .p-link{color: #fff;margin-top: 45px;margin-bottom: 20px;text-align: center;}
.footer .footer-text .p-link .a-link{color: #fff;}
.footer .footer-text .p-copyright{color: #fff;}


/* 面包屑导航 */
.bread-crumb-nav{font-size: 14px;color: #999;height: 45px;line-height: 45px;}
.bread-crumb-nav a{color: #999;}
.bread-crumb-nav .current{color: #02d0a2;}
.bread-crumb-nav .arrow{margin: 0 4px;}
.bread-crumb-nav .icon{display: inline-block;width: 11px;height: 13px;background: url('../images/system_down/download_content_icon.png');margin-right: 8px;}

.bread-crumb-nav.outside{width: 1200px;margin: 0 auto;}


/* 分页 */
.pageBox{margin: 50px 0;}
.pagelist{overflow: hidden;text-align: center;}
.pagelist .current {display: inline-block;padding: 6px 12px;text-align: center;border: 1px solid #02d0a2;margin-left: 6px;background: #02d0a2;cursor: pointer;color: #fff;}
.pagelist a {display: inline-block;padding: 6px 12px;text-align: center;border: 1px solid #02d0a2;margin-left: 6px;background: #fff;cursor: pointer;color: #02d0a2;}
.pagelist a:hover {background: #02d0a2;color: #FFF;}
.pagelist a.prev,.pagelist a.next{background: #bfbfbf;color: #fff;border-color: #bfbfbf;}
.pagelist a.prev:hover,.pagelist a.next:hover{background: #b1b0b0;}


/* banner */
.banner{height: 500px;background-repeat: no-repeat;background-position: center center;background-size: cover;overflow: hidden;}
.banner .banner-inner{width: 1200px;margin: 0 auto;overflow: hidden;margin-top: 100px;}
.banner .banner-inner .img-wrap{width: 480px;overflow: hidden;float: left;}
.banner .banner-inner .img-wrap img{float: right;margin-right: 30px;}
.banner .banner-inner .txt-wrap{margin-right: 40px;}
.banner .banner-inner .txt-wrap .h2-tit{font-size: 50px;color: #09e4b2;}
.banner .banner-inner .txt-wrap .p-txt{color: #00efae;font-size: 18px;margin-top: 20px;margin-bottom: 50px;}
.banner .banner-inner .btn-wrap .btn{display: inline-block;width: 158px;height: 43px;font-size: 16px;color: #2bdf8e;border: 1px solid #00f1aa;border-radius: 45px;line-height: 43px;box-shadow: 2px 2px 5px rgba(0,0,0,.1);float: left;margin-right: 25px;font-weight: bold;}
.banner .banner-inner .btn-wrap .btn.center{text-align: center;}
.banner .banner-inner .btn-wrap .btn:hover{color: #fff;background: #00f1aa;background: -webkit-linear-gradient(left,#00dfd8,#00f1aa);background: linear-gradient(to right,#00dfd8,#00f1aa);}
.banner .banner-inner .btn-wrap .btn .icon.down{display: inline-block;width: 20px;height: 20px;background: url('../images/index/down_icon_sprite.png');margin: 12px 10px 0 30px;float: left;}
.banner .banner-inner .btn-wrap .btn .icon.win7{display: inline-block;width: 29px;height: 25px;background: url('../images/system_down/win7_sprite.png');margin: 10px 5px 0 15px;float: left;}
.banner .banner-inner .btn-wrap .btn .icon.win8{display: inline-block;width: 22px;height: 22px;background: url('../images/system_down/win8_sprite.png');margin: 11px 10px 0 15px;float: left;}
.banner .banner-inner .btn-wrap .btn .icon.win10{display: inline-block;width: 22px;height: 22px;background: url('../images/system_down/win10_sprite.png');margin: 12px 10px 0 15px;float: left;}
.banner .banner-inner .btn-wrap .btn:hover .icon.win7{background-position: 0 -25px;}
.banner .banner-inner .btn-wrap .btn:hover .icon.win8{background-position: 0 -22px;}
.banner .banner-inner .btn-wrap .btn:hover .icon.win10{background-position: 0 -22px;}
.banner .banner-inner .btn-wrap .btn:hover .icon.down{background-position: 0 -20px;}
.banner .banner-inner .btn-wrap .btn .icon.jc{display: inline-block;width: 26px;height: 20px;background: url('../images/index/jc_icon_sprite.png');margin: 12px 10px 0 26px;float: left;}
.banner .banner-inner .btn-wrap .btn:hover .icon.jc{background-position: 0 -20px;}
.banner .banner-inner .btn-wrap .right-no{margin-right: 0;}
.banner .hd{text-align: center;margin-top: 100px;}
.banner .hd li{display: inline-block;width: 40px;height: 6px;background: #e5e5e5;margin: 0 10px;cursor: pointer;border-radius: 3px;}
.banner .hd li.on{background: #00e9b5;}


.banner .banner-inner.down .b-title{text-align: center;font-size: 50px;color: #09e4b2;}
.banner .banner-inner.down .b-title span:before{content: '';display: inline-block;width: 100px;height: 4px;background: #09e4b2;margin-bottom: 15px;margin-right: 40px;border-radius: 4px;}
.banner .banner-inner.down .b-title span:after{content: '';display: inline-block;width: 100px;height: 4px;background: #09e4b2;margin-bottom: 15px;margin-left: 40px;border-radius: 4px;}
.banner .banner-inner .em-space{margin: 0 30px;}
.banner .banner-inner.down .p-txt{width: 580px;margin: 0 auto;font-size: 18px;color: #09e4b2;margin-top: 20px;margin-bottom: 70px;}
.banner .banner-inner.down .btn-wrap{margin: 0 auto;}


.banner.wenti{height: 342px;}
.banner.wenti .banner-img{float: left;margin-right: 60px;margin-left: 290px;}
.banner.wenti .b-title{font-size: 50px;color: #09e4b2;margin: 20px 0;}
.banner.wenti .p-txt{font-size: 18px;color: #09e4b2;margin-right: 50px;}
.banner.wenti .banner-inner{margin-top: 90px;}





/* 首页-常用系统 */
.index-main{width: 1120px;margin: 0 auto;background: #fff;padding: 0 40px;padding-bottom: 30px;}
.index-main .index-main-tit{font-size: 24px;font-weight: bold;text-align: center;color: #09e4b2;padding-top: 50px;padding-bottom: 30px;}
.index-main .use-system .use-system-list ul{margin-right: -40px;}
.index-main .use-system .use-system-list li{width: 250px;height: 440px;float: left;box-shadow: 0 3px 5px rgba(0,0,0,.2);margin-right: 40px;}
.index-main .use-system .use-system-list .img-wrap{text-align: center;margin:45px 0 10px;}
.index-main .use-system .use-system-list .main-content{height: 255px;padding-top: 10px;}
.index-main .use-system .use-system-list .main-content .down-btn{display: block;width: 110px;height: 30px;background: #00e989;background: linear-gradient(to right,#00e989,#02e5d3);font-size: 14px;color: #fff;font-weight: bold;line-height: 30px;border-radius: 4px;margin: 0 auto;}
.index-main .use-system .use-system-list .main-content .title{font-size: 16px;font-weight: bold;color: #00e9b5;text-align: center;}
.index-main .use-system .use-system-list .main-content .txt-wrap{width: 130px;margin: 10px auto 30px;}
.index-main .use-system .use-system-list .main-content .txt-wrap .p-txt{font-size: 12px;color: #828c97;}
.index-main .use-system .use-system-list .main-content .down-btn .icon{display: inline-block;width: 16px;height: 16px;background: url('../images/index/down_icon_sprite02.png') 0 -16px;margin: 6px 10px 0;float: left;}
.index-main .use-system .use-system-list li:hover .main-content{background: #02d0a2;background: -webkit-linear-gradient(45deg,#00e98b,#03e5d1);background: linear-gradient(45deg,#00e98b,#03e5d1);}
.index-main .use-system .use-system-list li:hover .main-content .title{color: #fff;}
.index-main .use-system .use-system-list li:hover .main-content .txt-wrap .p-txt{color: #fff;}
.index-main .use-system .use-system-list li:hover .main-content .down-btn{background: #fff;color: #40efcb;}
.index-main .use-system .use-system-list li .main-content .down-btn:hover{background: #eee;}
.index-main .use-system .use-system-list li:hover .main-content .down-btn .icon{background-position: 0 0;}


/* 首页-使用教程 */
.index-main .use-jc-list ul{overflow: hidden;margin-right: -80px;}
.index-main .use-jc-list li{width: 320px;float: left;margin-right: 80px;}
.index-main .use-jc-list li .p-title{font-size: 16px;color: #00e9b5;font-weight: bold;overflow: hidden;border-bottom: 1px solid #00b8d4;padding-bottom: 5px;}
.index-main .use-jc-list li .p-title .a-more{float: right;font-size: 12px;color: #c4d0cc;}
.index-main .use-jc-list li .p-title .a-more:hover{color: #bdc3c1;}
.index-main .use-jc-list li .jc-wrap{overflow: hidden;margin-top: 15px;margin-bottom: 10px;}
.index-main .use-jc-list li .jc-wrap .img-wrap{width: 140px;height: 100px;float: left;margin-right: 16px;}
.index-main .use-jc-list li .jc-wrap .img-wrap img{width: 140px;height: 100px;}
.index-main .use-jc-list li .jc-wrap .txt-wrap .p-tit{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom: 10px;}
.index-main .use-jc-list li .jc-wrap .txt-wrap .p-tit a{font-size: 14px;color: #000;}
.index-main .use-jc-list li .jc-wrap .txt-wrap .p-tit a:hover{text-decoration: underline;}
.index-main .use-jc-list li .jc-wrap .txt-wrap .p-txt{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;height: 72px;line-height: 24px;font-size: 12px;color: #8f9a96;}
.index-main .use-jc-list li .wenti-list li{margin-bottom: 4px;}
.index-main .use-jc-list li .wenti-list li a{font-size: 14px;color: #000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: block;padding-left: 15px;position: relative;}
.index-main .use-jc-list li .wenti-list li a:before{content: '';display: inline-block;width: 3px;height: 3px;background: url('../images/index/dian.png') no-repeat;position: absolute;left: 0;top: 8px;}
.index-main .use-jc-list li .wenti-list li a:hover{color: #00e9b5;}


/* 首页-常用软件 */
.use-software{padding-bottom: 100px;}
.use-software .use-software-list{position: relative;}
.use-software .use-software-list ul{overflow: hidden;margin-right: -50px;}
.use-software .use-software-list li{width: 85px;float: left;text-align: center;margin-right: 50px;}
.use-software .use-software-list li .p-txt{font-size: 14px;color: #36636b;margin: 10px 0;}
.use-software .use-software-list li .down-btn{display: inline-block;width: 78px;height: 22px;text-align: center;line-height: 22px;border: 1px solid #00e9b5;font-size: 12px;color: #000;border-radius: 3px;}
.use-software .use-software-list li .down-btn:hover{background: #00e9b5;color: #fff;}
.use-software .use-software-list .scroll-wrap{width: 895px;margin-left: 114px;overflow: hidden;}
.use-software .use-software-list .icon-wrap img{width: 70px;height: 70px;}
.use-software .use-software-list .prev,.use-software .use-software-list .next{position: absolute;display: inline-block;width: 21px;height: 36px;top: 50%;margin-top: -13px;}
.use-software .use-software-list .prev{background: url('../images/index/left.png') no-repeat;left: 20px;}
.use-software .use-software-list .next{background: url('../images/index/right.png') no-repeat;right: 20px;}

/* 首页-友情链接 */
.index-main .p-link{position: relative;padding-left: 10px;}
.index-main .p-link:before{content: '';display: inline-block;width: 3px;height: 18px;background: #02d0a2;position: absolute;left: 0;top: 2px;}
.index-main .p-link,.index-main .p-link a{font-size: 16px;color: #02d0a2;font-weight: bold;}	
.index-main .p-link a{margin-right: 10px;}
.index-main .p-link a:hover{text-decoration: underline;}



.u-start-main{width: 1120px;padding: 50px 40px;margin: 0 auto;background: #fff;}
.u-start-main .top-nav-list ul{margin-right: -100px;}
.u-start-main .top-nav-list li{width: 204px;height: 256px;float: left;box-shadow: 0 3px 5px rgba(0,0,0,.2);margin-right: 100px;}
.u-start-main .top-nav-list li .p-tit{font-size: 18px;color: #02d0a2;text-align: center;margin-bottom: 10px;}
.u-start-main .top-nav-list li .p-txt{font-size: 12px;color: #8f9a96;margin: 0 20px;}
.u-start-main .top-nav-list li .icon{display: block;width: 55px;height: 55px;margin:40px auto 30px;}
.u-start-main .top-nav-list li .icon.icon1{background: url('../images/u_pan_start/icon_sprite01.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon2{background: url('../images/u_pan_start/icon_sprite02.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon3{background: url('../images/u_pan_start/icon_sprite03.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon4{background: url('../images/u_pan_start/icon_sprite04.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon5{background: url('../images/re_zhushou/icon_sprite05.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon6{background: url('../images/re_zhushou/icon_sprite06.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon7{background: url('../images/re_zhushou/icon_sprite07.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon8{background: url('../images/re_zhushou/icon_sprite08.png') no-repeat;}
.u-start-main .top-nav-list li .icon.icon9{background: url('../images/re_zhushou/icon_sprite09.png') no-repeat;}
.u-start-main .top-nav-list li:hover{background: #02d0a2;background: -webkit-linear-gradient(45deg,#00e98a,#03e5d2);background: linear-gradient(45deg,#00e98a,#03e5d2);}
.u-start-main .top-nav-list li:hover .p-tit{font-weight: bold;}
.u-start-main .top-nav-list li:hover .p-tit,.u-start-main .top-nav-list li:hover .p-txt{color: #fff;}
.u-start-main .top-nav-list li:hover .icon.icon1,.u-start-main .top-nav-list li:hover .icon.icon2,.u-start-main .top-nav-list li:hover .icon.icon3,.u-start-main .top-nav-list li:hover .icon.icon4,.u-start-main .top-nav-list li:hover .icon.icon5,.u-start-main .top-nav-list li:hover .icon.icon6,.u-start-main .top-nav-list li:hover .icon.icon7,.u-start-main .top-nav-list li:hover .icon.icon8,.u-start-main .top-nav-list li:hover .icon.icon9{background-position: 0 -55px;}

.u-start-main .detial-list{margin-top: 50px;}
.u-start-main .detial-list li{overflow: hidden;margin-bottom: 20px;}
.u-start-main .detial-list li .num-icon{float: right;}
.u-start-main .detial-list .img-wrap{width: 540px;height: 377px;float: left;margin-right: 30px;}
.u-start-main .detial-list .img-wrap img{width: 540px;height: 377px;}
.u-start-main .detial-list .txt-wrap{width: 450px;float: left;}
.u-start-main .detial-list .txt-wrap .p-tit{font-size: 30px;color: #09e4b2;margin: 50px 0;}
.u-start-main .detial-list .txt-wrap .p-txt{font-size: 14px;color: #9ea9a5;margin-bottom: 20px;}
.u-start-main .detial-list .txt-wrap .line{height: 2px;background: #e5e5e5;margin-top: 10px;}
.u-start-main .detial-list .txt-wrap .icon-list{overflow: hidden;margin-left: -20px;}
.u-start-main .detial-list .txt-wrap .icon-list .icon-wrap{width: 102px;float: left;text-align: center;margin-right: 30px;}
.u-start-main .detial-list .txt-wrap .icon-list .icon-wrap img{margin-bottom: 15px;}
.u-start-main .detial-list .txt-wrap .icon-list .icon-wrap .icon-txt{font-size: 14px;color: #09e4b2;}


.u-start-main .top-nav-list.five li{width: 175px;margin-right: 60px;}
.u-start-main .detial-list.five .num-icon{float: left;margin-right: 60px;}
.u-start-main .detial-list.five .img-wrap{float: right;margin-right: 0;}
.u-start-main .detial-list.five .p-tit{text-align: right;}
.u-start-main .detial-list.five .txt-wrap .icon-list .icon-wrap{float: right;margin-right: 0;margin-left: 30px;}





/* 系统下载列表 */
.system-down{width: 1200px;margin: 0 auto;}
.system-down .system-down-list li{overflow: hidden;background: #fff;padding: 28px 38px;margin-bottom: 15px;transition:box-shadow .2s;}
.system-down .system-down-list li:hover{box-shadow: 0 0px 10px 1px rgba(0, 0, 0, .1);}
.system-down .system-down-list .img-wrap{display: block;width: 260px;height: 160px;float: left;margin-right: 34px;}
.system-down .system-down-list .img-wrap img{width: 260px;height: 160px;}
.system-down .system-down-list .txt-wrap .title{margin-bottom: 10px;}
.system-down .system-down-list .txt-wrap .title a{font-size: 20px;color: #02d0a2;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: block;font-weight: bold;}
.system-down .system-down-list .txt-wrap .title a:hover{color: #00a882;}
.system-down .system-down-list .txt-wrap .p-txt{font-size: 14px;color: #799794;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 50px;line-height: 25px;margin-bottom: 20px;}
.system-down .system-down-list .txt-wrap .p-btm{font-size: 12px;color: #99b0ae;}
.system-down .system-down-list .txt-wrap .p-btm .star{display: inline-block;width: 59px;height: 11px;background: url('../images/system_down/content_win10_xing_hui.png');position: relative;}
.system-down .system-down-list .txt-wrap .p-btm .star-huang{height: 11px;display: inline-block;background: url('../images/system_down/content_win10_xing_huang.png');position: absolute;left: 0;top: 0;}
.system-down .system-down-list .txt-wrap .p-btm .s-item{margin-right: 8px;}
.system-down .system-down-list .txt-wrap .btn-wrap{margin-top: 20px;}
.system-down .system-down-list .txt-wrap .btn-wrap .btn{display: inline-block;width: 108px;height: 28px;border: 1px solid #00e9b5;color: #00e9b5;border-radius: 4px;font-size: 14px;line-height: 28px;float: right;margin-left: 22px;box-shadow: 0 3px 4px rgba(0, 0, 0, .1)}
.system-down .system-down-list .txt-wrap .btn-wrap .btn.info{text-align: center;}
.system-down .system-down-list .txt-wrap .btn-wrap .btn:hover{background: #00e9b5;color: #fff;}
.system-down .system-down-list .txt-wrap .btn-wrap .btn.down .icon{display: inline-block;width: 16px;height: 16px;float: left;margin: 7px 10px 0;background: url('../images/system_down/down_icon_sprite.png') 0 0;}
.system-down .system-down-list .txt-wrap .btn-wrap .btn.down:hover .icon{background-position: 0 -16px;}


/* 系统下载详情 */
.system-download-xq{width: 1120px;margin: 0 auto;background-color: #fff;padding: 0 40px;}
.system-download-xq .system-info{padding: 30px 0 30px;}
.system-download-xq .system-info-img{margin-right: 24px;}
.system-download-xq .system-info-img img{width: 320px;height: 240px;display: block;}
.system-download-xq .system-info-wrap .system-info-tit{color: #02d0a2;font-size: 24px;margin-bottom: 18px;font-weight: bold;}
.system-download-xq .system-info-list ul{overflow: hidden;margin-right: 100px;}
.system-download-xq .system-info-list li{width: 230px;float: left;font-size: 14px;color: #888;margin-bottom: 18px;}
.system-download-xq .system-info-list li.long{width: 700px;}
.system-download-xq .system-info-list li .s-item{margin-right: 16px;}
.system-download-xq .system-info-list li em{display: inline-block;width: 16px;height: 16px;background-position:center center;background-size: cover;vertical-align: middle;margin-right: 10px;}
.system-download-xq .system-info-list li em.icon-01{background-image: url('../images/system_down/download_content_img360.png')}
.system-download-xq .system-info-list li em.icon-02{background-image: url('../images/system_down/download_content_imgshadu.png')}
.system-download-xq .system-info-list li em.icon-03{background-image: url('../images/system_down/download_content_imgguanj.png')}
.system-download-xq .system-info-btn .a-btn{display: inline-block;width: 138px;height: 36px;text-align: center;line-height: 36px;font-size: 16px;color: #00e9b5;border: 1px solid #00e9b5;border-radius: 6px;float: left;margin-right: 15px;box-shadow: 2px 3px 4px rgba(206, 206, 206, .4)}
.system-download-xq .system-info-btn .a-btn.a-download{background-color: #00e9b5;color: #fff;}
.system-download-xq .system-info-btn .a-btn.a-download:hover{background-color: #00dbaa;}
.system-download-xq .system-info-btn .a-btn:hover{background-color: #eee;}
.system-download-xq .system-info-btn{margin-right: -15px;}

.system-download-xq .system-introduce{margin-bottom: 30px;}
.system-download-xq .system-introduce .system-item{padding: 0 0 20px;}
.system-download-xq .system-introduce .system-item .p-tit{font-size: 16px;color: #02d0a2;font-weight: bold;margin-bottom: 18px;position: relative;padding-left: 10px;}
.system-download-xq .system-introduce .system-item .p-tit:before{content: '';width: 3px;height: 18px;background: #02d0a2;position: absolute;left: 0;top: 3px;}
.system-download-xq .system-introduce .system-item .p-txt{font-size: 14px;color: #666;line-height: 21px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn{display: inline-block;width: 175px;height: 40px;color: #fff;float: left;margin-right: 26px;border-radius: 5px;text-align: center;line-height: 40px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn .icon-xunlei{display: inline-block;width: 22px;height: 20px;background: url('../images/system_down/download_content_imgxunlei_icon.png') no-repeat;vertical-align: middle;margin-right: 5px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn .icon-local{display: inline-block;width: 20px;height: 20px;background: url('../images/system_down/download_content_icon_1.png') no-repeat;vertical-align: middle;margin-right: 5px;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.green{background-color: #00c1de;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.green:hover{background-color: #00aac3;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.blue{background-color: #00d7b1;}
.system-download-xq .system-introduce .system-item .system-download-btn .a-btn.blue:hover{background-color: #00c4a1;}
.system-download-xq .system-introduce .system-item .system-download-btn{margin-bottom: 12px;}



/* 使用教程 */
.system-down .system-down-list.use-jc{background: #fff;overflow: hidden;}
.system-down .system-down-list.use-jc .use-jc-list{width: 850px;float: left;}
.system-down .system-down-list.use-jc li:hover{box-shadow: 0 0 0;}
.system-down .system-down-list.use-jc .use-jc-list li{background: 0 0;border-bottom: 1px solid #e5e5e5;padding: 0;margin: 30px 38px;}
.system-down .system-down-list.use-jc .use-jc-list li .img-wrap{margin-bottom: 30px;}
.system-down .system-down-list.use-jc .use-jc-list li .txt-wrap .p-txt{-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;height: 75px;line-height: 25px;}
.system-down .system-down-list.use-jc .use-jc-list li .txt-wrap .p-time{font-size: 12px;color: #99b0ae;}
.system-down .system-down-list.use-jc .use-jc-list li:last-child{border-bottom: none;}
.system-down .system-down-list.use-jc .aside-wrap{width: 300px;float: right;margin-right: 30px;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item .aside-img{width: 70px;height: 70px;margin-right: 10px;margin-bottom: 10px;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item .aside-img img{width: 70px;height: 70px;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item li{margin: 0;padding: 0;overflow: hidden;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item li h3 a{display: block;font-size: 14px;color: #799794;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item li h3 a:hover{color: #000;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item li .p-txt{font-size: 12px;color: #99b0ae;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 30px;line-height: 15px;margin-top: 10px;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item .aside-img{float: left;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item .p-tit{font-size: 16px;color: #02d0a2;margin: 20px 0;font-weight: bold;}
.system-down .system-down-list.use-jc .aside-wrap .aside-item .p-tit:before{content: '';width: 3px;height: 18px;background: #02d0a2;display: inline-block;position: relative;top: 3px;margin-right: 4px;}


/* 常见问题-详情 */
.system-down .system-down-list.wenti .use-jc-list .h1-title{text-align: center;font-size: 26px;font-weight: bold;color: #02d0a2;margin-top: 60px;}
.system-down .system-down-list.wenti .use-jc-list .p-time{font-size: 14px;color: #8f9a96;text-align: center;margin-top: 20px;margin-bottom: 50px;}
.system-down .system-down-list.wenti .use-jc-list .p-time .s-time:after{content: '';display: inline-block;width: 2px;height: 16px;background: #8f9a96;position: relative;top: 2px;margin-left: 15px;margin-right: 15px;}
.system-down .system-down-list.wenti .use-jc-list .p-time .icon-time{display: inline-block;width: 13px;height: 13px;background: url('../images/wenti/time.png');margin-right: 6px;}
.system-down .system-down-list.wenti .use-jc-list .p-time .icon-see{display: inline-block;width: 14px;height: 9px;background: url('../images/wenti/yuedu.png');margin-right: 6px;}
.system-down .system-down-list.wenti .use-jc-list .detail-img{display: block;width: 660px;margin: 10px auto;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap,.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap{margin: 0 40px;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap p{font-size: 14px;color: #5f6862;text-indent: 2em;line-height: 30px;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap .detail-tit{font-weight: bold;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap .prev-txt{margin-top: 40px;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap .prev-txt a{display: block;font-size: 14px;color: #000;margin-bottom: 10px;}
.system-down .system-down-list.wenti .use-jc-list .detail-txt-wrap .prev-txt a:hover{text-decoration: underline;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-tit{font-size: 16px;color: #02d0a2;font-weight: bold;margin-top: 30px;margin-bottom: 20px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-tit:before{content: '';display: inline-block;width: 3px;height: 18px;background: #02d0a2;position: relative;top: 3px;margin-right: 6px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list{overflow: hidden;margin-right: -40px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list li{float: left;width: 385px;border-bottom: none;margin: 0;margin-bottom: 20px;margin-right: 20px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list .tuijian-img{display: block;width: 140px;height: 100px;float: left;margin-right: 20px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list .tuijian-img img{width: 140px;height: 100px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list .tuijian-txt-wrap .p-tit a{font-size: 14px;color: #000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: block;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list .tuijian-txt-wrap .p-tit a:hover{text-decoration: underline;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .tuijian-list .tuijian-txt-wrap .p-txt{font-size: 12px;color: #8f9a96;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;height: 72px;line-height: 24px;margin-top: 4px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .wenti-list{overflow: hidden;margin-right: -40px;margin-bottom: 30px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .wenti-list li{margin: 0;border-bottom: none;float: left;width: 385px;margin-right: 20px;margin-bottom: 6px;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .wenti-list a{font-size: 14px;color: #000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display: block;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .wenti-list a:hover{color: #00a0e9;}
.system-down .system-down-list.wenti .use-jc-list .tuijian-wrap .wenti-list a:before{content: '';display: inline-block;width: 3px;height: 3px;background: url('../images/use_jc/home_content_button3.png');margin-right: 10px;vertical-align: middle;}